.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  cursor: pointer;
  color: rgba(96, 112, 255, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.hamburger {
  cursor: pointer;
  width: 26px;
  height: 26px;
}
